@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: calc((100% - 30px) / 2) !important;

  /* Center slide text vertically */
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin-right: 0 !important;
}

.swiper-wrapper {
  display: flex !important;
  align-items: center !important;
}

.theo-pract .swiper-slide.swiper-slide-next > div {
  height: 453px !important;
  width: 350px !important;
}

.swiper-slide.swiper-slide-next .swiper-selected-text {
  font-size: 24px !important;
}

.swiper-slide.swiper-slide-next .swiper-selected-rate {
  font-size: 28px !important;
}

.swiper-slide.swiper-slide-next .swiper-selected-price {
  font-size: 30px !important;
}

.theo-pract .swiper-slide.swiper-slide-next .selected-hr {
  margin-bottom: 18px !important;
}

.swiper-slide.swiper-slide-next .swiper-selected-rate-number {
  font-size: 28px !important;
}

.theo-pract .swiper-slide.swiper-slide-next > div > div > img {
  height: 236px !important;
  width: 100% !important;
}

.swiper-pagination-bullet {
  width: 17px !important;
  height: 17px !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 40px !important;
  border-radius: 9.5px !important;
  background-color: #ffbd01 !important;
}

.swiper-pagination.swiper-pagination-clickable {
  position: static !important;
  margin-top: 25px !important;
}

.hero-section .swiper-pagination.swiper-pagination-clickable {
  position: absolute !important;
  margin-top: 0 !important;
  margin-bottom: 50px !important;
}

.member-slider .swiper-slide {
  background: transparent !important  ;
}

.member-slider .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: calc((100% - 30px) / 2) !important;

  /* Center slide text vertically */
  display: flex !important;
  justify-content: end !important;
  align-items: start !important;
  margin-right: 0 !important;
}

.member-slider .swiper-button-next,
.member-slider .swiper-button-prev {
  top: 250px;
}

/* Hide default arrows */
.member-slider .swiper-button-next::after,
.member-slider .swiper-button-prev::after {
  display: none;
}

/* Custom icon - for example, using emoji or background SVGs */
.member-slider .swiper-button-next {
  background-image: url('/public/icons/nextarrow.svg'); /* Your custom icon */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  height: 60px;
  top:230px;
  right:-5;
}

.member-slider .swiper-button-prev {
  background-image: url('/public/icons/nextarrow.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  height: 60px;
  transform: scaleX(-1);
  top:230px;
  left:-5;
}

.member-slider .swiper-button-disabled{
display: none;
}


@media (min-width: 1200px) {
  .hero-section .swiper-slide.swiper-slide-next > div {
    width: 100% !important;
  }

  .hero-section .swiper-slide.swiper-slide-next {
    width: 600px !important;
    height: 600px !important;
  }

  .hero-section .swiper-slide.swiper-slide-next > div {
    width: 600px !important;
    height: 100% !important;
  }

  .hero-section .swiper-slide.swiper-slide-next + .swiper-slide {
    position: relative !important;
    right: -170px !important;
    height: 450px !important;
  }

  .hero-section .swiper-slide.swiper-slide-next + .swiper-slide > div {
    height: 100% !important;
  }

  .hero-section .swiper-slide.swiper-slide-active {
    position: relative !important;
    left: -170px !important;
    height: 450px !important;
    background-color: transparent !important;
  }

  .hero-section .swiper-slide.swiper-slide-active > div {
    height: 100% !important;
  }

  .hero-section .swiper-wrapper {
    margin-left: -60px !important;
  }
}
@media (min-width: 1600px) {
  .hero-section .swiper-wrapper {
    margin-left: 0px !important;
  }
}

@media (max-width: 767px) {
  .member-slider .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: calc((100% - 30px) / 2) !important;

    /* Center slide text vertically */
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin-right: 0 !important;
  }
}
